---
import { Image } from "astro:assets";
import type { ImageMetadata } from "astro";

interface Props {
  title: string;
  img1: ImageMetadata;
  img2: ImageMetadata;
  alt1: string;
  alt2: string;
}

const { title, img1, img2, alt1, alt2 } = Astro.props;
---

<details class="collapse collapse-arrow bg-base-100 border-base-300 border">
  <summary class="collapse-title font-semibold text-base-content">{title}</summary>
  <div class="collapse-content text-sm">
    <figure class="diff aspect-16/9">
      <div class="diff-item-1">
        <Image src={img1} alt={alt1} />
      </div>
      <div class="diff-item-2">
        <Image src={img2} alt={alt2} />
      </div>

      <div
        class="diff-resizer"
        role="slider"
        tabindex="0"
        aria-label={`Arrastra para comparar ${alt1} y ${alt2}`}
        aria-valuemin="0"
        aria-valuemax="100"
        aria-valuenow="50"
      >
      </div>
    </figure>
  </div>
</details>
